{% extends 'layout.html'%}
{% block body %}

<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for messages in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ messages }} 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %} 
        <div class="card card-body">
            <form action="/add" method="POST">
                <div class="form group">
                    <input type = "text" name = "fullname" placeholder="Nombre" class = "form-control">
                </div>
                <div class="form goup">
                    <input type = "text" name = "phone" placeholder="Teléfono"  class = "form-control">
                </div>
                <div class="form group">
                    <input type = "text" name = "email" placeholder="Correo"  class = "form-control">
                </div>
                <div class="form group">
                    <button type = "submit" class = "btn btn-primary btn-block">
                        SAVE
                    </button>
                </div>
                
            </form>
        </div>

    </div>
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>Fullname</td>
                    <td>Phone</td>
                    <td>Email</td>
                    <td>Operation</td>
                </tr>
            </thead>
            <tbody>
               {% for contact in contacts %} 
                <tr>
                    <td>{{contact.1}}</td>
                    <td>{{contact.2}}</td>
                    <td>{{contact.3}}</td>
                    <td>
                        <a href="/edit/{{contact.0}}" class="btn btn-secondary">Edit</a>
                        <a href="/delete/{{contact.0}}" class = "btn btn-danger btn-delete">Delete</a>
                    </td>
                </tr> 
                      
               {% endfor %}
            </tbody>
        
        </table>

    </div>

</div>






{% endblock %}